@media (max-width: 425px) {

    body.lock{ 
        overflow: hidden;
    }

    .wrapper { 
        width: 425px;
    }

    .header { 
        justify-content: space-around;
    }

    .container { 
        max-width: 425px;
        margin: 0px;
        padding: 0px;
    }

    .header_body { 
        height: 120px;
    }

    .logo { 
        max-height: 80%;
        max-width: 80%;
    }

    .header_burger { 
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header_burger span { 
        position: absolute;
        background-color: #000000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before,  
    .header_burger:after { 
        content: '';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before{ 
        top: 0;
    }
    .header_burger:after{ 
        bottom: 0;
    }

    .header_burger.active:before{ 
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active:after{ 
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_burger.active span{ 
        transform: scale(0);
    }

    .header_menu { 
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #ffffff;
        padding: 140px 20px 20px 20px;
    }

    .header_menu.active{ 
        top: 0; 
    }

    .header_list { 
        display: block; 
    }

    .header_list li { 
        margin: 0px 0px 20px 0px; 
    }

    .information_tel_info { 
        font-size: 25px;
    }

    .content { 
        padding: 120px 0px 0px 0px; 
    }

    .advantages { 
        padding: 10px;
        flex-direction: column;
    }

    .advantages_banner { 
        padding-left: 0px;
    }

    .advantages_description { 
        font-size: 14px; 
        padding-top: 10px;
        padding-right: 0px;
    }

    .advantages_description h1 { 
        font-size: 20px;
    }

    .advantages_description_1 { 
        width: auto;
        height: auto;
    }

    .advantages_description_1 img { 
        width: 16px;
        height: 14px;
    }

    .statistics_numbers th { 
        font-size: 10px; 
    }

    .statistics_numbers font { 
        font-size: 15px; 
        padding-right: 5px;
    }

    .catalog { 
        padding: 10px;
    }

    .catalog_description h1 { 
        font-size: 20px;
    }

    .catalog_description { 
        font-size: 14px; 
    }

    .catalog_btn { 
        padding: 15px;
    }

    .product { 
        padding: 0px;
    }

    .product_table { 
        grid-template-columns: auto;
        grid-auto-flow: row;
        padding: 10px 15px 15px 10px;
    }

    .feedback_text { 
        padding: 0px;
    }

    .feedback_table { 
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding-bottom: 20px;
    }

    .feedback_list { 
        width: 400px;
        height: auto;
        padding: 15px;
    }

    .feedback_list p { 
        padding-bottom: 10px;
        font-size: 14px; 
    }

    .feedback_list_table th { 
        font-size: 16px; 
    }

    .feedback_list_table font { 
        font-size: 12px; 
    }

    .contacts { 
        padding: 10px;
    }

    .contacts_link h1 { 
        font-size: 25px;
    }

    .author p { 
        font-size: 10px; 
    }

    #myBtn { 
        bottom: 80px; 
        font-size: 18px; 
    }
}