@media (max-width: 768px) {

    body.lock{
        overflow: hidden;
    }

    .wrapper {
        width: 758px;
    }

    .header {
        justify-content: space-around;
    }

    .container { 
        max-width: 768px;
        margin: 0px;
        padding: 0px;
    }

    .header_body { 
        height: 120px;
    }

    .logo { 
        max-height: 80%;
        max-width: 80%;
    }

    .header_burger { 
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header_burger span { 
        position: absolute;
        background-color: #000000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before,  
    .header_burger:after { 
        content: '';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before{ 
        top: 0;
    }
    .header_burger:after{ 
        bottom: 0;
    }

    .header_burger.active:before{ 
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active:after{ 
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_burger.active span{ 
        transform: scale(0);
    }

    .header_menu { 
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #ffffff;
        padding: 140px 20px 20px 20px;
    }

    .header_menu.active{ 
        top: 0; 
    }

    .header_list { 
        display: block; 
    }

    .header_list li { 
        margin: 0px 0px 20px 0px; 
    }

    .information_tel_info { 
        font-size: 25px;
    }

    .content { 
        padding: 120px 0px 0px 0px; 
    }

    .information_the_text_under_the_btn {
        font-weight: 700;
    }

    .btn_link { 
        width: 124px;
        height: 22px;
    }

    .btn_text { 
        font-size: 8px; 
        letter-spacing: 1px;
    }


    .btn_waves { 
        width: 124px;
        height: 124px;
    }

    .advantages { 
        padding: 10px;
        flex-direction: column;
    }

    .advantages_banner { 
        padding-left: 0px;
    }

    .advantages_description { 
        padding-top: 10px;
        padding-right: 0px;
    }

    .statistics_numbers th {
        font-size: 20px; 
    }

    .statistics_numbers font { 
        font-size: 25px; 
    }

    .product {
        padding: 0px;
    }

    .product_table { 
        gap: 0px;
        padding: 15px 50px 5px 50px;
    }

    .product_list { 
        width: 164px;
        padding: 0px 0px 15px 0px;
    }

    .product_img { 
        width: 164px;
        height: 286px;
    }

    .product_list .product_button_face { 
        top: 88%;
        bottom: 5px;
        padding: 6px 6px 6px 6px;
        border-radius: 20px;
    }

    .feedback_text { 
        padding: 0px;
    }

    .feedback_table { 
        grid-template-rows: auto;
        grid-auto-flow: row; 
        gap: 10px;
        padding-bottom: 10px;
    }

    .feedback_list { 
        width: 240px;
        height: 340px;
        padding: 15px;
    }

    .feedback_list p { 
        padding-bottom: 10px;
        font-size: 14px; 
    }

    .feedback_list_table th { 
        font-size: 16px; 
    }

    .feedback_list_table font { 
        font-size: 12px; 
    }

    #myBtn { 
        bottom: 80px; 
        font-size: 18px; 
    }
}