.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 18px;
}

.cart-1 {
  position: relative;
  overflow: hidden;
  width: calc(50% - (1 - 1/2)*18px);
  padding-bottom: calc(50% * (491 / 771));
}

.img_1 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-style: none;
}

.field-button-card {
  color: #000;
}

.button-cart {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.button-cart-1 {
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 24px;
  top: 24px;
}

.field-button-card {
  margin-top: 12px;
}

@media screen and (max-width: 1439px) {
  .button-cart-1 {
    left: 16px;
    right: 16px;
    bottom: 16px;
    top: 16px;
  }

  .field-button-card {
    margin-top: 8px;
  }
}

@media screen and (max-width: 1023px) {
  .product {
    gap: 14px;
  }

  .cart-1 {
    width: calc(50% - (1 - 1/2)*14px);
  }

  .field-button-card {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .product {
    gap: 12px;
  }

  .cart-1 {
    width: calc(2/3*100% - (1 - 2/3)*12px);
    padding-bottom: 40%;
  }
}

@media screen and (max-width: 500px) {
  .product {
    gap: 10px;
  }

  .cart-1 {
    width: 100%;
    padding-bottom: calc(100% * (179 / 290));
  }
}

/*Основные стили*/

.button-cart:before{
    animation: rotate 20s linear infinite;
}
.button-cart:after{
    animation: rotate 25s linear infinite;
}

.button_text_1 {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    border-radius: 50px;
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    letter-spacing: 10px;
    transition: all 1s ease 0s; /*анимация*/
    top: 0;
    overflow: hidden;
}
.button_text_1:before,
.button_text_1:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #eee;
    transition: all 0.8s ease 0s;
}
.button_text_1:before {
    left: 0;
    z-index: 2;
}
.button_text_1:after {
    right: 0;
}
.button_text_1 span {
    position: relative;
    z-index: 2;
}

.button-cart:hover:before,
.button-cart:hover:after {
    left: 100%;
    opacity: 0;
}

.button-cart:hover .button_text_1{
    top: -10px; /*кнопка при наведении становится объемной, приподнимается*/
    color: #fff;
    transition: all 0.5s ease 0s; /*задержка 0.5 меньше 0.8 стандартной, чтобы основная анимация сработала быстрее*/
    box-shadow: 0 5px 0px 0 #0c5b52;
}

.button-cart:hover .button_text_1:before, /*цвет кнопки меняется при наведении*/
.button-cart:hover .button_text_1:after{
    background-color: #18b5a4;
}

.button-cart:hover .button_text_1:before {
    width: 100%;
}

.button-cart:active .button_text_1 { /*видим анимацию нажатия кнопки*/
    top: -7px;
    transition: all 0.1s ease 0s;
    box-shadow: 0 2px 0px 0 #0c5b52;
}

@keyframes rotate { /*крутим элементы вокруг кнопки*/
    0%{
        transition: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.img_1 {
    max-width: 370px;
}

.img_2 {
    max-width: 370px;
}

.img_3 {
    max-width: 370px;
}

.img_4 {
    max-width: 370px;
}

.img_5 {
    max-width: 370px;
}

.img_6 {
    max-width: 370px;
}

.img_7 {
    max-width: 370px;
}

.img_8 {
    max-width: 370px;
}