@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;  
    
}

html,body{
    height: 100%;
    font-family: 'Poppins', Arial, sans-serif;
    color: #000000; 
}

a {
    text-decoration: none; 
}

.wrapper {
    width: 100%;
}

.header { 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50; 
}

.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #38cf77;
    z-index: 2; 
}

.container{
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: space-between; 
    height: 180px;
    align-items: center;
}

.header_logo {
    flex: 0 0 60px;
    width: 475px;
    height: 180px;
    padding-left: 0;
    padding-top: 0;
    overflow: visible;
    position: relative;
    z-index: 3;
}

.header_logo .logo_img {
    max-width: 100%; /*если картинка логотипа будет больше, то она подстроитсяя под размер*/
    display: block; /*по умолчанию у картинок есть отступ, мы его убираем*/
}

.header_logo .logo_info {}

.header_logo .logo_info_text {}

.header_logo .logo_info_icon {}

.header_burger {}

.header_menu {}

.header_menu .contacts {}

.header_menu .contacts .active {}

.header_menu .contacts .active img {}

.header_menu .contacts .active a {}

.header_menu .contacts .active img {}

.header_menu .contacts .active .btn {}

.content {}


.content .container_1 {}

.content .container_1 .content_banner {}

.content .container_1 .content_banner img {}

.content .container_1 .content_text {}

.content .container_1 .content_text .content_text_title_1 {}

.content .container_1 .content_text .content_text_info_left {}

.content .container_1 .content_text .content_text_info_right {}

.content .container_1 .content_text .btn_content_text_info {}

.content .container_1 .content_text .btn_content_text_info a {}


.content .container_2 {}

.content .container_2 .content_text_title_2 {}

.content .container_2 .content_products {}

.content .container_2 .content_products li {}

.content .container_2 .content_products img {}

.content .container_2 .content_products h4 {}

.content .container_2 .content_products p {}


.content .container_3 {}

.content .container_3 .content_text_title_3 {}

.content .container_3 .advantages {}

.content .container_3 .advantages ul {}

.content .container_3 .advantages ul li {}

.content .container_3 .advantages ul li img {}

.content .container_3 .advantages ul li h3 {}


.content .container_4 {}

.content .container_4 .contacts {}

.content .container_4 .contacts .active {}

.content .container_4 .contacts .active img {}

.content .container_4 .contacts .active a {}


.content .container_5 {}

.content .container_5 .content_text_title_5 {}

.content .container_5 .content_text_title_5 h1 {}

.content .container_5 .quality {}

.content .container_5 .quality ul {}

.content .container_5 .quality ul li {}

.content .container_5 .quality img {}


.content .container_6 .content_text_title_6 {}

.content .container_6 .feedback {}

.content .container_6 .feedback ul {}

.content .container_6 .feedback ul li {}

.content .container_6 .feedback ul li p {}

.content .container_6 .feedback ul li img {}

.content .container_6 .feedback ul li span {}

.content .container_6 .feedback ul li span p {}


.content .container_7 {}

.content .container_7 .contacts {}

.content .container_7 .contacts .active {}

.content .container_7 .contacts .active img {}

.content .container_7 .contacts .active a {}


.footer {}


.footer .container_8 {}

.footer .container_8 .header_body {}

.footer .container_8 .header_body .header_logo {}

.footer .container_8 .header_body .header_logo ul {}

.footer .container_8 .header_body .header_logo li {}

.footer .container_8 .header_body .header_logo .logo_img {}

.footer .container_8 .header_body .header_logo .logo_img img {}

.footer .container_8 .header_body .header_logo .logo_img a {}

.footer .container_8 .header_body .header_logo .logo_info {}

.footer .container_8 .header_body .header_logo .logo_info .logo_info_icon {}

.footer .container_8 .header_body .header_logo .logo_info .logo_info_text {}


.footer .container_8 .header_body {}

.footer .container_8 .header_body .product_navigation {}

.footer .container_8 .header_body .product_navigation .product_navigation_main {}

.footer .container_8 .header_body .product_navigation .product_navigation_main li {}

.footer .container_8 .header_body .product_navigation .product_navigation_main a {}

.footer .container_8 .header_body .product_navigation .product_navigation_main a {}


.footer .author {}