.wrapper {
  gap: 20px;
}

.header {
  font-weight: 1400px;
  height: 185px;
}

.navbar {
  background-color: white;

}

.header_logo {
  font-weight: 350px;
  height: 60px;
  padding-left: 300px;
  padding-top: 46px;
}

.logo_info {
  font-weight: 406px;
  height: 43px;
  padding: 5px 1px;
  padding-left: 250px;
  padding-top: 10px;
}

.logo_info_icon {
  font-weight: 40px;
  height: 40px;
}

.logo_info_text {
  font-weight: 90px;
  height: 30px;
  font-size: 20px;
  font-weight: 500;
  vertical-align: top;
}

.header_menu {
  font-weight: 860px;
  height: 64px;
  padding-left: 523px;
  padding-top: 37px;
}

.contacts {
  font-size: 20px;
  font-weight: 500;
  vertical-align: top;
}

.contacts_icon_map-pointer {
  font-weight: 53px;
  height: 54px;
}

.contacts_link_map-pointer {
  font-weight: 226px;
  height: 74px;
  text-decoration: none;
}

.contacts_icon_phone {
  font-weight: 47px;
  height: 47px;
}

.contacts_link_phone {
  font-weight: 240px;
  height: 60px;
  text-decoration: none;
}

.contacts_icon_VK {
  font-weight: 47px;
  height: 47px;
}

.contacts_link_VK {
  font-weight: 165px;
  height: 60px;
  text-decoration: none;
}