div#container
{
   width: 1170px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #101010;
   background-image: url('../images/background_7d7f7df.jpg');
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
.visibility-hidden
{
   visibility: hidden;
}
#Shape3
{
   width: 228px;
   height: 67px;
   background-color: #90C9EC;
   background-image: none;
   border: 0px #0963AD solid;
   border-radius: 50px;
}
#Shape3_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 10.96%;
   top: 37.31%;
   width: 77.63%;
   height: 23.88%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape2
{
   width: 228px;
   height: 67px;
   background-color: #90C9EC;
   background-image: none;
   border: 0px #0963AD solid;
   border-radius: 50px;
}
#Shape2_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 10.96%;
   top: 37.31%;
   width: 77.63%;
   height: 23.88%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape11
{
   width: 228px;
   height: 67px;
   background-color: #90C9EC;
   background-image: none;
   border: 0px #0963AD solid;
   border-radius: 50px;
}
#Shape11_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 10.96%;
   top: 37.31%;
   width: 77.63%;
   height: 23.88%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Image12
{
   vertical-align: top;
}
#Image12
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image41
{
   vertical-align: top;
}
#Image41
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image34
{
   vertical-align: top;
}
#Image34
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Form4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image23
{
   vertical-align: top;
}
#Image23
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image11
{
   vertical-align: top;
}
#Image11
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#pop-up_perezvon .modal-content
{
   background-color: #262626;
   background-image: none;
   border-radius: 0px;
   box-shadow: 0px 3px 9px rgba(0,0,0,0.50);
   margin: 0;
   overflow: visible;
}
#pop-up_perezvon.fade
{
   opacity: 1;
   transition: all 500ms linear;
}
#pop-up_perezvon .animate-show
{
   animation-duration: 500ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in-up;
}
#pop-up_perezvon .animate-hide
{
   animation-duration: 500ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in-up;
   animation-direction: reverse;
}
#pop-up_perezvon.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#pop-up_perezvon .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#pop-up_perezvon .modal-open
{
   overflow: hidden;
}
#pop-up_perezvon .modal-dialog
{
   position: relative;
   width: 318px;
   margin-left: auto;
   margin-right: auto;
}
#pop-up_perezvon .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#pop-up_perezvon .modal-header
{
   min-height: 16px;
   padding: 15px 15px 15px 15px;
   border-bottom: 1px solid #CCCCCC;
}
#pop-up_perezvon .modal-footer
{
   padding: 15px 15px 15px 15px;
   border-top: 1px solid #CCCCCC;
}
#pop-up_perezvon .modal-body
{
   position: relative;
   width: 318px;
   height: 421px;
}
#pop-up_perezvon .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #CCCCCC;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 15px 15px 0 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5 !important;
}
.modal-open
{
   overflow: hidden;
}
#pop-up_perezvon .modal-content
{
   margin: 0;
   pointer-events: all;
}
#pop-up_perezvon .modal-title
{
   color: #CCCCCC;
   font-size: 16px;
   font-weight: 500;
   margin: 0;
}
#pop-up_perezvon .modal-dialog
{
   justify-content: center;
   display: flex;
   align-items: center;
   pointer-events: none;
}
#pop-up_perezvon .modal-dialog::before
{
   display: block;
   height: calc(100vh);
   content: "";
}
#Editbox8
{
   line-height: 42px;
   margin: 0;
   border: 0px solid #323232;
   border-radius: 30px;
   background-color: #FFFFFF;
   background-image: none;
   color: #4F4F4F;
   font-family: "Stolzl Light";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   animation: animate-fade-in-right 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 200ms 1 normal both;
   padding: 4px 4px 4px 25px;
}
#Editbox8:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox1
{
   line-height: 42px;
   margin: 0;
   border: 0px solid #323232;
   border-radius: 30px;
   background-color: #FFFFFF;
   background-image: none;
   color: #4F4F4F;
   font-family: "Stolzl Light";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   animation: animate-fade-in-right 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 normal both;
   padding: 4px 4px 4px 25px;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button3
{
   border: 0px solid #2E6DA4;
   border-radius: 30px;
   background-color: #FF1E46;
   background-image: none;
   color: #FFFFFF;
   font-family: Gilroy-Medium;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button3:focus
{
   outline: 0;
}
#Shape1
{
   width: 228px;
   height: 67px;
   background-color: #90C9EC;
   background-image: none;
   border: 0px #0963AD solid;
   border-radius: 50px;
}
#Shape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 10.96%;
   top: 37.31%;
   width: 77.63%;
   height: 23.88%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont1
{
   height: 25px;
   width: 25px;
}
.IconFont1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont1:before
{
   content: "\e90d";
}
#IconFont1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 25px;
   line-height: 25px;
   vertical-align: middle;
   width: 24px;
}
#wb_IconFont1:hover #IconFont1 i
{
   color: #FFFFFF;
}
#Layer2
{
   background-color: transparent;
   background-image: url('../images/bg22.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border-radius: 0px;
   margin: 0;
}
#Layer3
{
   background-color: transparent;
   background-image: url('../images/bg22.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border-radius: 0px;
   margin: 0;
}
#Layer4
{
   background-color: transparent;
   background-image: url('../images/bg22.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border-radius: 0px;
   margin: 0;
}
#Layer5
{
   background-color: transparent;
   background-image: url('../images/bg22.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border-radius: 0px;
   margin: 0;
}
#Layer6
{
   background-color: transparent;
   background-image: url('../images/bg22.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border-radius: 0px;
   margin: 0;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer-1-pc
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_Image7
{
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer-2-pc
{
   background-color: rgba(30,187,255,0.06);
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_Image8
{
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer-3-pc
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer-4-pc
{
   background-color: rgba(30,187,255,0.06);
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_Image10
{
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer-5-pc
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#Layer-6-pc
{
   background-color: rgba(30,187,255,0.06);
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#Shape6
{
   width: 320px;
   height: 72px;
   background-color: #FF1E46;
   background-image: none;
   border: 0px #0963AD solid;
   border-radius: 50px;
}
#Shape6_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 7.81%;
   top: 34.72%;
   width: 84.06%;
   height: 29.17%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_IconFont6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont6
{
   height: 30px;
   width: 30px;
}
.IconFont6
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont6:before
{
   content: "\e90d";
}
#IconFont6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_IconFont6:hover #IconFont6 i
{
   color: #FFFFFF;
}
#wb_Image13
{
   vertical-align: top;
}
#Image13
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image14
{
   vertical-align: top;
}
#Image14
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image33
{
   vertical-align: top;
}
#Image33
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image35
{
   vertical-align: top;
}
#Image35
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image36
{
   vertical-align: top;
}
#Image36
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image37
{
   vertical-align: top;
}
#Image37
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#pop-up_bonus .modal-content
{
   background-color: #262626;
   background-image: none;
   border-radius: 0px;
   box-shadow: 0px 3px 9px rgba(0,0,0,0.50);
   margin: 0;
   overflow: visible;
}
#pop-up_bonus.fade
{
   opacity: 1;
   transition: all 500ms linear;
}
#pop-up_bonus .animate-show
{
   animation-duration: 500ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in-up;
}
#pop-up_bonus .animate-hide
{
   animation-duration: 500ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in-up;
   animation-direction: reverse;
}
#pop-up_bonus.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#pop-up_bonus .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#pop-up_bonus .modal-open
{
   overflow: hidden;
}
#pop-up_bonus .modal-dialog
{
   position: relative;
   width: 318px;
   margin-left: auto;
   margin-right: auto;
}
#pop-up_bonus .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#pop-up_bonus .modal-header
{
   min-height: 16px;
   padding: 15px 15px 15px 15px;
   border-bottom: 1px solid #CCCCCC;
}
#pop-up_bonus .modal-footer
{
   padding: 15px 15px 15px 15px;
   border-top: 1px solid #CCCCCC;
}
#pop-up_bonus .modal-body
{
   position: relative;
   width: 318px;
   height: 421px;
}
#pop-up_bonus .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #CCCCCC;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 15px 15px 0 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5 !important;
}
.modal-open
{
   overflow: hidden;
}
#pop-up_bonus .modal-content
{
   margin: 0;
   pointer-events: all;
}
#pop-up_bonus .modal-title
{
   color: #CCCCCC;
   font-size: 16px;
   font-weight: 500;
   margin: 0;
}
#pop-up_bonus .modal-dialog
{
   justify-content: center;
   display: flex;
   align-items: center;
   pointer-events: none;
}
#pop-up_bonus .modal-dialog::before
{
   display: block;
   height: calc(100vh);
   content: "";
}
#wb_Image39
{
   vertical-align: top;
}
#Image39
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image40
{
   vertical-align: top;
}
#Image40
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image15
{
   vertical-align: top;
}
#Image15
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image16
{
   vertical-align: top;
}
#Image16
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image17
{
   vertical-align: top;
}
#Image17
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image18
{
   vertical-align: top;
}
#Image18
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image19
{
   vertical-align: top;
}
#Image19
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image21
{
   vertical-align: top;
}
#Image21
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image22
{
   vertical-align: top;
}
#Image22
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image24
{
   vertical-align: top;
}
#Image24
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image25
{
   vertical-align: top;
}
#Image25
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image26
{
   vertical-align: top;
}
#Image26
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image27
{
   vertical-align: top;
}
#Image27
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image28
{
   vertical-align: top;
}
#Image28
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image29
{
   vertical-align: top;
}
#Image29
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image30
{
   vertical-align: top;
}
#Image30
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image31
{
   vertical-align: top;
}
#Image31
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image20
{
   vertical-align: top;
}
#Image20
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image38
{
   vertical-align: top;
}
#Image38
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape5
{
   width: 320px;
   height: 72px;
   background-color: #FF1E46;
   background-image: none;
   border: 0px #0963AD solid;
   border-radius: 50px;
}
#Shape5_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 7.81%;
   top: 34.72%;
   width: 84.06%;
   height: 29.17%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_IconFont5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont5
{
   height: 30px;
   width: 30px;
}
.IconFont5
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont5:before
{
   content: "\e90d";
}
#IconFont5 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_IconFont5:hover #IconFont5 i
{
   color: #FFFFFF;
}
#Shape7
{
   width: 320px;
   height: 72px;
   background-color: #FF1E46;
   background-image: none;
   border: 0px #0963AD solid;
   border-radius: 50px;
}
#Shape7_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 7.81%;
   top: 34.72%;
   width: 84.06%;
   height: 29.17%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_IconFont7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont7
{
   height: 30px;
   width: 30px;
}
.IconFont7
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont7:before
{
   content: "\e90d";
}
#IconFont7 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_IconFont7:hover #IconFont7 i
{
   color: #FFFFFF;
}
#Shape8
{
   width: 320px;
   height: 72px;
   background-color: #FF1E46;
   background-image: none;
   border: 0px #0963AD solid;
   border-radius: 50px;
}
#Shape8_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 7.81%;
   top: 34.72%;
   width: 84.06%;
   height: 29.17%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_IconFont8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont8
{
   height: 30px;
   width: 30px;
}
.IconFont8
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont8:before
{
   content: "\e90d";
}
#IconFont8 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_IconFont8:hover #IconFont8 i
{
   color: #FFFFFF;
}
#Shape9
{
   width: 320px;
   height: 72px;
   background-color: #FF1E46;
   background-image: none;
   border: 0px #0963AD solid;
   border-radius: 50px;
}
#Shape9_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 7.81%;
   top: 34.72%;
   width: 84.06%;
   height: 29.17%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_IconFont9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont9
{
   height: 30px;
   width: 30px;
}
.IconFont9
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont9:before
{
   content: "\e90d";
}
#IconFont9 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_IconFont9:hover #IconFont9 i
{
   color: #FFFFFF;
}
#Shape10
{
   width: 228px;
   height: 67px;
   background-color: #90C9EC;
   background-image: none;
   border: 0px #0963AD solid;
   border-radius: 50px;
}
#Shape10_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 10.96%;
   top: 37.31%;
   width: 77.63%;
   height: 23.88%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_IconFont10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont10
{
   height: 25px;
   width: 25px;
}
.IconFont10
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont10:before
{
   content: "\e90d";
}
#IconFont10 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 25px;
   line-height: 25px;
   vertical-align: middle;
   width: 24px;
}
#wb_IconFont10:hover #IconFont10 i
{
   color: #FFFFFF;
}
#wb_IconFont11
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont11
{
   height: 25px;
   width: 25px;
}
.IconFont11
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont11:before
{
   content: "\e90d";
}
#IconFont11 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 25px;
   line-height: 25px;
   vertical-align: middle;
   width: 24px;
}
#wb_IconFont11:hover #IconFont11 i
{
   color: #FFFFFF;
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont2
{
   height: 25px;
   width: 25px;
}
.IconFont2
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont2:before
{
   content: "\e90d";
}
#IconFont2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 25px;
   line-height: 25px;
   vertical-align: middle;
   width: 24px;
}
#wb_IconFont2:hover #IconFont2 i
{
   color: #FFFFFF;
}
#wb_IconFont3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont3
{
   height: 25px;
   width: 25px;
}
.IconFont3
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont3:before
{
   content: "\e90d";
}
#IconFont3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 25px;
   line-height: 25px;
   vertical-align: middle;
   width: 24px;
}
#wb_IconFont3:hover #IconFont3 i
{
   color: #FFFFFF;
}
#wb_uid5
{
   color: #FFFFFF;
   font-family: "Gilroy-Black";
   font-size: 24px;
}
#Layer-1-pc
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 763px;
   float: left;
   clear: left;
   display: block;
   z-index: 75;
}
#Layer6
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 993px;
   float: left;
   clear: left;
   display: none;
   z-index: 74;
}
#wb_Shape1
{
   position: absolute;
   left: 46px;
   top: 475px;
   width: 228px;
   height: 67px;
   visibility: hidden;
   z-index: 4;
}
#wb_Image38
{
   position: absolute;
   left: 445px;
   top: 1866px;
   width: 485px;
   height: 156px;
   visibility: hidden;
   z-index: 38;
}
#wb_Image36
{
   position: absolute;
   left: 10px;
   top: 10px;
   width: 168px;
   height: 30px;
   visibility: hidden;
   z-index: 37;
}
#wb_uid4
{
   color: #FFFFFF;
   font-family: "Gilroy-Black";
   font-size: 19px;
}
#wb_Shape2
{
   position: absolute;
   left: 46px;
   top: -2504px;
   width: 228px;
   height: 67px;
   visibility: hidden;
   z-index: 31;
}
#wb_Image31
{
   position: absolute;
   left: 77px;
   top: 566px;
   width: 167px;
   height: 33px;
   visibility: hidden;
   z-index: 23;
}
#wb_Image30
{
   position: absolute;
   left: 77px;
   top: 566px;
   width: 167px;
   height: 33px;
   visibility: hidden;
   z-index: 22;
}
#wb_Image37
{
   position: absolute;
   left: 445px;
   top: 6831px;
   width: 485px;
   height: 156px;
   visibility: hidden;
   z-index: 7;
}
#wb_Image35
{
   position: absolute;
   left: 136px;
   top: 13px;
   width: 168px;
   height: 30px;
   visibility: hidden;
   z-index: 6;
}
#wb_Image39
{
   position: absolute;
   left: 27px;
   top: 60px;
   width: 265px;
   height: 300px;
   z-index: 65;
}
#Button3
{
   position: absolute;
   left: 20px;
   top: 159px;
   width: 274px;
   height: 57px;
   z-index: 9;
   cursor: pointer;
}
#wb_Image33
{
   position: absolute;
   left: 25px;
   top: 24px;
   width: 226px;
   height: 109px;
   z-index: 12;
}
#wb_Image34
{
   position: absolute;
   left: 28px;
   top: 115px;
   width: 277px;
   height: 280px;
   z-index: 11;
}
#Layer-3-pc
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 795px;
   float: left;
   clear: left;
   display: block;
   z-index: 77;
}
#wb_Image22
{
   position: absolute;
   left: 670px;
   top: 2159px;
   width: 200px;
   height: 39px;
   z-index: 51;
}
#wb_Image21
{
   position: absolute;
   left: 299px;
   top: 2159px;
   width: 200px;
   height: 39px;
   z-index: 50;
}
#wb_Shape3
{
   position: absolute;
   left: 46px;
   top: -3497px;
   width: 228px;
   height: 67px;
   visibility: hidden;
   z-index: 34;
}
#wb_uid3
{
   color: #FFFFFF;
   font-family: "Gilroy-Black";
   font-size: 19px;
}
#wb_Image20
{
   position: absolute;
   left: 445px;
   top: 3852px;
   width: 485px;
   height: 156px;
   visibility: hidden;
   z-index: 30;
}
#wb_Image29
{
   position: absolute;
   left: 77px;
   top: 566px;
   width: 167px;
   height: 33px;
   visibility: hidden;
   z-index: 21;
}
#wb_Image28
{
   position: absolute;
   left: 77px;
   top: 566px;
   width: 167px;
   height: 33px;
   visibility: hidden;
   z-index: 20;
}
#wb_Image27
{
   position: absolute;
   left: 77px;
   top: 566px;
   width: 167px;
   height: 33px;
   visibility: hidden;
   z-index: 19;
}
#wb_Image26
{
   position: absolute;
   left: 77px;
   top: 566px;
   width: 167px;
   height: 33px;
   visibility: hidden;
   z-index: 18;
}
#wb_Image25
{
   position: absolute;
   left: 77px;
   top: 566px;
   width: 167px;
   height: 33px;
   visibility: hidden;
   z-index: 17;
}
#wb_Image24
{
   position: absolute;
   left: 77px;
   top: 566px;
   width: 167px;
   height: 33px;
   visibility: hidden;
   z-index: 16;
}
#wb_Image23
{
   position: absolute;
   left: 0px;
   top: 2322px;
   width: 320px;
   height: 2408px;
   visibility: hidden;
   z-index: 14;
}
#wb_Image1
{
   position: absolute;
   left: 612px;
   top: 290px;
   width: 960px;
   height: 2841px;
   visibility: hidden;
   z-index: 3;
}
#Layer-2-pc
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 2482px;
   float: left;
   clear: left;
   display: block;
   z-index: 76;
}
#wb_uid2
{
   color: #FFFFFF;
   font-family: "Gilroy-Black";
   font-size: 19px;
}
#wb_Image2
{
   position: absolute;
   left: 0px;
   top: -46px;
   width: 320px;
   height: 2368px;
   visibility: hidden;
   z-index: 15;
}
#wb_Image3
{
   position: absolute;
   left: 0px;
   top: 3737px;
   width: 320px;
   height: 824px;
   visibility: hidden;
   z-index: 26;
}
#wb_uid1
{
   color: #FFFFFF;
   font-family: "Gilroy-Black";
   font-size: 19px;
}
#Editbox1
{
   position: absolute;
   left: 20px;
   top: 19px;
   width: 245px;
   height: 42px;
   z-index: 10;
}
#wb_Form4
{
   position: absolute;
   left: 0px;
   top: 133px;
   width: 318px;
   height: 279px;
   z-index: 13;
}
#Layer-5-pc
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 808px;
   float: left;
   clear: left;
   display: block;
   z-index: 79;
}
#wb_Image4
{
   position: absolute;
   left: 0px;
   top: 5568px;
   width: 320px;
   height: 963px;
   visibility: hidden;
   z-index: 29;
}
#wb_uid0
{
   color: #FFFFFF;
   font-family: "Gilroy-Black";
   font-size: 19px;
}
#Layer-2-pc_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Image5
{
   position: absolute;
   left: 0px;
   top: 5538px;
   width: 320px;
   height: 749px;
   visibility: hidden;
   z-index: 33;
}
#Layer-4-pc
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 889px;
   float: left;
   clear: left;
   display: block;
   z-index: 78;
}
#wb_Image6
{
   position: absolute;
   left: 10px;
   top: 10px;
   width: 320px;
   height: 186px;
   visibility: hidden;
   z-index: 36;
}
#wb_Shape8
{
   position: absolute;
   left: 425px;
   top: 706px;
   width: 320px;
   height: 72px;
   z-index: 58;
}
#wb_Image7
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1170px;
   height: 763px;
   z-index: 39;
}
#wb_Shape9
{
   position: absolute;
   left: 425px;
   top: 626px;
   width: 320px;
   height: 72px;
   z-index: 61;
}
#wb_Shape11
{
   position: absolute;
   left: 46px;
   top: -1511px;
   width: 228px;
   height: 67px;
   visibility: hidden;
   z-index: 27;
}
#wb_Shape10
{
   position: absolute;
   left: 46px;
   top: -518px;
   width: 228px;
   height: 67px;
   visibility: hidden;
   z-index: 24;
}
#Layer-3-pc_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Image8
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1170px;
   height: 2482px;
   z-index: 43;
}
#pop-up_perezvon
{
   text-align: left;
   margin: 0;
}
#Layer-6-pc
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 131px;
   float: left;
   clear: left;
   display: block;
   z-index: 80;
}
#wb_IconFont9
{
   position: absolute;
   left: 441px;
   top: 649px;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 62;
}
#wb_IconFont8
{
   position: absolute;
   left: 441px;
   top: 729px;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 59;
}
#wb_IconFont7
{
   position: absolute;
   left: 441px;
   top: 637px;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 56;
}
#wb_Image9
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1170px;
   height: 795px;
   z-index: 54;
}
#wb_IconFont5
{
   position: absolute;
   left: 441px;
   top: 2317px;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 53;
}
#wb_IconFont6
{
   position: absolute;
   left: 705px;
   top: 514px;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 41;
}
#wb_IconFont3
{
   position: absolute;
   left: 45px;
   top: -3490px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   text-align: center;
   z-index: 35;
}
#wb_IconFont2
{
   position: absolute;
   left: 45px;
   top: -2497px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   text-align: center;
   z-index: 32;
}
#wb_IconFont1
{
   position: absolute;
   left: 45px;
   top: 482px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   text-align: center;
   z-index: 5;
}
#Editbox8
{
   position: absolute;
   left: 20px;
   top: 89px;
   width: 245px;
   height: 42px;
   z-index: 8;
}
#Layer-4-pc_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Layer1
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 993px;
   float: left;
   clear: left;
   display: none;
   z-index: 69;
}
#wb_Image41
{
   position: absolute;
   left: 824px;
   top: 47px;
   width: 205px;
   height: 37px;
   z-index: 64;
}
#wb_uid9
{
   color: #FFFFFF;
   font-family: "Gilroy-Black";
   font-size: 24px;
}
#wb_Shape5
{
   position: absolute;
   left: 425px;
   top: 2294px;
   width: 320px;
   height: 72px;
   z-index: 52;
}
#Layer2
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 993px;
   float: left;
   clear: left;
   display: none;
   z-index: 70;
}
#wb_Image40
{
   position: absolute;
   left: 27px;
   top: 212px;
   width: 229px;
   height: 40px;
   z-index: 66;
}
#pop-up_bonus
{
   text-align: left;
   margin: 0;
}
#Layer-5-pc_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_uid8
{
   color: #FFFFFF;
   font-family: "Gilroy-Black";
   font-size: 24px;
}
#wb_Shape6
{
   position: absolute;
   left: 689px;
   top: 491px;
   width: 320px;
   height: 72px;
   z-index: 40;
}
#wb_IconFont11
{
   position: absolute;
   left: 45px;
   top: -1504px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   text-align: center;
   z-index: 28;
}
#Layer3
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 993px;
   float: left;
   clear: left;
   display: none;
   z-index: 71;
}
#wb_uid7
{
   color: #FFFFFF;
   font-family: "Gilroy-Black";
   font-size: 24px;
}
#wb_Shape7
{
   position: absolute;
   left: 425px;
   top: 614px;
   width: 320px;
   height: 72px;
   z-index: 55;
}
#Layer-1-pc_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Layer6_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Layer5_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Layer4_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Layer4
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 993px;
   float: left;
   clear: left;
   display: none;
   z-index: 72;
}
#Layer3_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_IconFont10
{
   position: absolute;
   left: 45px;
   top: -511px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   text-align: center;
   z-index: 25;
}
#Layer2_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Layer1_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Image12
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1170px;
   height: 131px;
   z-index: 63;
}
#Layer-6-pc_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Image11
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1170px;
   height: 808px;
   z-index: 60;
}
#wb_Image10
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1170px;
   height: 889px;
   z-index: 57;
}
#wb_uid6
{
   color: #FFFFFF;
   font-family: "Gilroy-Black";
   font-size: 24px;
}
#wb_Image19
{
   position: absolute;
   left: 856px;
   top: 1478px;
   width: 200px;
   height: 39px;
   z-index: 49;
}
#wb_Image18
{
   position: absolute;
   left: 485px;
   top: 1478px;
   width: 200px;
   height: 39px;
   z-index: 48;
}
#wb_Image17
{
   position: absolute;
   left: 114px;
   top: 1478px;
   width: 200px;
   height: 39px;
   z-index: 47;
}
#wb_Image16
{
   position: absolute;
   left: 856px;
   top: 800px;
   width: 200px;
   height: 39px;
   z-index: 46;
}
#wb_Image15
{
   position: absolute;
   left: 485px;
   top: 800px;
   width: 200px;
   height: 39px;
   z-index: 45;
}
#wb_Image14
{
   position: absolute;
   left: 114px;
   top: 800px;
   width: 200px;
   height: 39px;
   z-index: 44;
}
#wb_Image13
{
   position: absolute;
   left: 822px;
   top: 67px;
   width: 205px;
   height: 37px;
   z-index: 42;
}
#Layer5
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 993px;
   float: left;
   clear: left;
   display: none;
   z-index: 73;
}
@media only screen and (max-width: 1169px)
{
div#container
{
   width: 320px;
}
body
{
   background-color: #101010;
   background-image: url('../images/background_7d7f7df.jpg');
   background-attachment: fixed;
   background-position: left top;
   background-repeat: repeat;
}
#wb_Shape3
{
   left: 24px;
   top: 618px;
   width: 271px;
   height: 62px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape3
{
   width: 271px;
   height: 62px;
   background-color: #FF1E46;
   background-image: none;
}
#wb_Shape2
{
   left: 24px;
   top: 829px;
   width: 271px;
   height: 62px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape2
{
   width: 271px;
   height: 62px;
   background-color: #FF1E46;
   background-image: none;
}
#wb_Shape11
{
   left: 24px;
   top: 699px;
   width: 271px;
   height: 62px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape11
{
   width: 271px;
   height: 62px;
   background-color: #FF1E46;
   background-image: none;
}
#wb_Image12
{
   left: 10px;
   top: 10px;
   width: 1170px;
   height: 131px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image41
{
   left: 10px;
   top: 10px;
   width: 205px;
   height: 37px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image34
{
   left: 27px;
   top: 123px;
   width: 284px;
   height: 288px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Form4
{
   left: 0px;
   top: 144px;
   width: 318px;
   height: 279px;
   visibility: visible;
   display: inline;
}
#wb_Image3
{
   left: 0px;
   top: 0px;
   width: 320px;
   height: 824px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image23
{
   left: 0px;
   top: 2368px;
   width: 320px;
   height: 2408px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image11
{
   left: 10px;
   top: 10px;
   width: 1170px;
   height: 808px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image5
{
   left: 0px;
   top: 0px;
   width: 320px;
   height: 749px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image4
{
   left: 0px;
   top: 0px;
   width: 320px;
   height: 963px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 0px;
   top: 0px;
   width: 320px;
   height: 947px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Layer1
{
   width: 320px;
   height: 947px;
   visibility: visible;
   display: block;
   margin: 0;
   background-color: transparent;
   background-image: none;
}
#Layer1
{
   margin: 0;
}
#Layer1_Container
{
   width: 320px;
}
#Layer1
{
    width: 100%;
    height: 947px;
}
#pop-up_perezvon .modal-content
{
   visibility: visible;
   margin: 0;
}
#pop-up_perezvon .modal-dialog
{
   width: 318px;
}
#pop-up_perezvon .modal-content
{
   margin: 0;
}
#pop-up_perezvon .modal-body
{
   width: 318px;
   height: 440px;
}
#Editbox8
{
   left: 20px;
   top: 89px;
   width: 245px;
   height: 42px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 25px;
   text-align: left;
}
#Editbox8
{
   line-height: 42px;
}
#Editbox1
{
   left: 22px;
   top: 19px;
   width: 245px;
   height: 42px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 25px;
   text-align: left;
}
#Editbox1
{
   line-height: 42px;
}
#Button3
{
   left: 20px;
   top: 159px;
   width: 274px;
   height: 57px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
   color: #FFFFFF;
}
#wb_Shape1
{
   left: 25px;
   top: 643px;
   width: 271px;
   height: 62px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape1
{
   width: 271px;
   height: 62px;
   background-color: #FF1E46;
   background-image: none;
}
#wb_IconFont1
{
   left: 44px;
   top: 662px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#IconFont1
{
   width: 25px;
   height: 25px;
}
#IconFont1 i
{
   line-height: 25px;
   font-size: 25px;
   width: 24px;
}
#Layer2
{
   width: 320px;
   height: 4776px;
   visibility: visible;
   display: block;
   margin: 0;
   background-color: rgba(30,187,255,0.06);
   background-image: none;
   background-image: none;
}
#Layer2
{
   margin: 0;
}
#Layer2_Container
{
   width: 320px;
}
#Layer2
{
    width: 100%;
    height: 4776px;
}
#Layer3
{
   width: 320px;
   height: 824px;
   visibility: visible;
   display: block;
   margin: 0;
   background-color: transparent;
   background-image: none;
   background-image: none;
}
#Layer3
{
   margin: 0;
}
#Layer3_Container
{
   width: 320px;
}
#Layer3
{
    width: 100%;
    height: 824px;
}
#Layer4
{
   width: 320px;
   height: 963px;
   visibility: visible;
   display: block;
   margin: 0;
   background-color: rgba(30,187,255,0.06);
   background-image: none;
   background-image: none;
}
#Layer4
{
   margin: 0;
}
#Layer4_Container
{
   width: 320px;
}
#Layer4
{
    width: 100%;
    height: 963px;
}
#Layer5
{
   width: 320px;
   height: 749px;
   visibility: visible;
   display: block;
   margin: 0;
   background-color: transparent;
   background-image: none;
   background-image: none;
}
#Layer5
{
   margin: 0;
}
#Layer5_Container
{
   width: 320px;
}
#Layer5
{
    width: 100%;
    height: 749px;
}
#Layer6
{
   width: 320px;
   height: 186px;
   visibility: visible;
   display: block;
   margin: 0;
   background-color: rgba(30,187,255,0.06);
   background-image: none;
   background-image: none;
}
#Layer6
{
   margin: 0;
}
#Layer6_Container
{
   width: 320px;
}
#Layer6
{
    width: 100%;
    height: 186px;
}
#wb_Image6
{
   left: 0px;
   top: 0px;
   width: 320px;
   height: 186px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Layer-1-pc
{
   width: 320px;
   height: 952px;
   visibility: hidden;
   display: none;
   margin: 0;
   background-color: transparent;
   background-image: none;
}
#Layer-1-pc
{
   margin: 0;
}
#Layer-1-pc_Container
{
   width: 320px;
}
#Layer-1-pc
{
    width: 100%;
    height: 952px;
}
#wb_Image7
{
   left: 10px;
   top: 10px;
   width: 1170px;
   height: 763px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#Layer-2-pc
{
   width: 320px;
   height: 952px;
   visibility: hidden;
   display: none;
   margin: 0;
   background-color: rgba(30,187,255,0.06);
   background-image: none;
}
#Layer-2-pc
{
   margin: 0;
}
#Layer-2-pc_Container
{
   width: 320px;
}
#Layer-2-pc
{
    width: 100%;
    height: 952px;
}
#wb_Image8
{
   left: 10px;
   top: 10px;
   width: 1170px;
   height: 2482px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#Layer-3-pc
{
   width: 320px;
   height: 952px;
   visibility: hidden;
   display: none;
   margin: 0;
   background-color: transparent;
   background-image: none;
}
#Layer-3-pc
{
   margin: 0;
}
#Layer-3-pc_Container
{
   width: 320px;
}
#Layer-3-pc
{
    width: 100%;
    height: 952px;
}
#wb_Image9
{
   left: 10px;
   top: 10px;
   width: 1170px;
   height: 795px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#Layer-4-pc
{
   width: 320px;
   height: 952px;
   visibility: hidden;
   display: none;
   margin: 0;
   background-color: rgba(30,187,255,0.06);
   background-image: none;
}
#Layer-4-pc
{
   margin: 0;
}
#Layer-4-pc_Container
{
   width: 320px;
}
#Layer-4-pc
{
    width: 100%;
    height: 952px;
}
#wb_Image10
{
   left: 10px;
   top: 10px;
   width: 1170px;
   height: 889px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#Layer-5-pc
{
   width: 320px;
   height: 952px;
   visibility: hidden;
   display: none;
   margin: 0;
   background-color: transparent;
   background-image: none;
}
#Layer-5-pc
{
   margin: 0;
}
#Layer-5-pc_Container
{
   width: 320px;
}
#Layer-5-pc
{
    width: 100%;
    height: 952px;
}
#Layer-6-pc
{
   width: 320px;
   height: 952px;
   visibility: hidden;
   display: none;
   margin: 0;
   background-color: rgba(30,187,255,0.06);
   background-image: none;
}
#Layer-6-pc
{
   margin: 0;
}
#Layer-6-pc_Container
{
   width: 320px;
}
#Layer-6-pc
{
    width: 100%;
    height: 952px;
}
#wb_Shape6
{
   left: 25px;
   top: -7816px;
   width: 271px;
   height: 62px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape6
{
   width: 271px;
   height: 62px;
}
#wb_IconFont6
{
   left: 34px;
   top: -7797px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#IconFont6
{
   width: 25px;
   height: 25px;
}
#IconFont6 i
{
   line-height: 25px;
   font-size: 25px;
   width: 24px;
}
#wb_Image13
{
   left: 10px;
   top: 10px;
   width: 205px;
   height: 37px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image14
{
   left: 10px;
   top: 10px;
   width: 200px;
   height: 39px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   left: 0px;
   top: 0px;
   width: 320px;
   height: 2368px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image33
{
   left: 27px;
   top: 28px;
   width: 226px;
   height: 109px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image35
{
   left: 136px;
   top: 13px;
   width: 168px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image36
{
   left: 136px;
   top: 19px;
   width: 168px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image37
{
   left: 52px;
   top: 67px;
   width: 217px;
   height: 52px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#pop-up_bonus .modal-content
{
   visibility: visible;
   margin: 0;
}
#pop-up_bonus .modal-dialog
{
   width: 318px;
}
#pop-up_bonus .modal-content
{
   margin: 0;
}
#pop-up_bonus .modal-body
{
   width: 318px;
   height: 440px;
}
#wb_Image39
{
   left: 27px;
   top: 70px;
   width: 265px;
   height: 300px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image40
{
   left: 27px;
   top: 219px;
   width: 229px;
   height: 40px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image15
{
   left: 10px;
   top: 10px;
   width: 200px;
   height: 39px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image16
{
   left: 10px;
   top: 10px;
   width: 200px;
   height: 39px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image17
{
   left: 10px;
   top: 10px;
   width: 200px;
   height: 39px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image18
{
   left: 10px;
   top: 10px;
   width: 200px;
   height: 39px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image19
{
   left: 10px;
   top: 10px;
   width: 200px;
   height: 39px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image21
{
   left: 10px;
   top: 10px;
   width: 200px;
   height: 39px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image22
{
   left: 10px;
   top: 10px;
   width: 200px;
   height: 39px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image24
{
   left: 76px;
   top: 613px;
   width: 167px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image25
{
   left: 76px;
   top: 1178px;
   width: 167px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image26
{
   left: 76px;
   top: 1743px;
   width: 167px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image27
{
   left: 76px;
   top: 2309px;
   width: 167px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image28
{
   left: 75px;
   top: 2875px;
   width: 167px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image29
{
   left: 76px;
   top: 3440px;
   width: 167px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image30
{
   left: 76px;
   top: 4005px;
   width: 167px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image31
{
   left: 76px;
   top: 4571px;
   width: 167px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image20
{
   left: 84px;
   top: 109px;
   width: 151px;
   height: 52px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image38
{
   left: 52px;
   top: 71px;
   width: 217px;
   height: 52px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Shape5
{
   left: 25px;
   top: -7816px;
   width: 271px;
   height: 62px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape5
{
   width: 271px;
   height: 62px;
}
#wb_IconFont5
{
   left: 34px;
   top: -7797px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#IconFont5
{
   width: 25px;
   height: 25px;
}
#IconFont5 i
{
   line-height: 25px;
   font-size: 25px;
   width: 24px;
}
#wb_Shape7
{
   left: 25px;
   top: -7816px;
   width: 271px;
   height: 62px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape7
{
   width: 271px;
   height: 62px;
}
#wb_IconFont7
{
   left: 34px;
   top: -7797px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#IconFont7
{
   width: 25px;
   height: 25px;
}
#IconFont7 i
{
   line-height: 25px;
   font-size: 25px;
   width: 24px;
}
#wb_Shape8
{
   left: 25px;
   top: -7816px;
   width: 271px;
   height: 62px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape8
{
   width: 271px;
   height: 62px;
}
#wb_IconFont8
{
   left: 34px;
   top: -7797px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#IconFont8
{
   width: 25px;
   height: 25px;
}
#IconFont8 i
{
   line-height: 25px;
   font-size: 25px;
   width: 24px;
}
#wb_Shape9
{
   left: 25px;
   top: -7816px;
   width: 271px;
   height: 62px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape9
{
   width: 271px;
   height: 62px;
}
#wb_IconFont9
{
   left: 34px;
   top: -7797px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#IconFont9
{
   width: 25px;
   height: 25px;
}
#IconFont9 i
{
   line-height: 25px;
   font-size: 25px;
   width: 24px;
}
#wb_Shape10
{
   left: 24px;
   top: 4643px;
   width: 271px;
   height: 62px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape10
{
   width: 271px;
   height: 62px;
   background-color: #FF1E46;
   background-image: none;
}
#wb_IconFont10
{
   left: 43px;
   top: 4662px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#IconFont10
{
   width: 25px;
   height: 25px;
}
#IconFont10 i
{
   line-height: 25px;
   font-size: 25px;
   width: 24px;
}
#wb_IconFont11
{
   left: 43px;
   top: 718px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#IconFont11
{
   width: 25px;
   height: 25px;
}
#IconFont11 i
{
   line-height: 25px;
   font-size: 25px;
   width: 24px;
}
#wb_IconFont2
{
   left: 43px;
   top: 848px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#IconFont2
{
   width: 25px;
   height: 25px;
}
#IconFont2 i
{
   line-height: 25px;
   font-size: 25px;
   width: 24px;
}
#wb_IconFont3
{
   left: 43px;
   top: 637px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#IconFont3
{
   width: 25px;
   height: 25px;
}
#IconFont3 i
{
   line-height: 25px;
   font-size: 25px;
   width: 24px;
}
}
